.strength-meter {
  height: 5px;
  width: 100%;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.very-weak {
  width: 20%;
  background-color: red;
}

.weak {
  width: 50%;
  background-color: orange;
}

.moderate {
  width: 75%;
  background-color: yellow;
}

.strong {
  width: 100%;
  background-color: green;
}
